.services__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 78px;
}

.services__button {
  padding: 22px 38px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  background-color: #fff;
  color: #000;
  border: 1px solid rgba(239, 240, 246, 1);
}

.services__title {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.98px;
  text-align: left;
  color: rgba(33, 31, 84, 1);
}

.services__title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 34.01px;
  color: rgba(33, 31, 84, 1);
  text-align: center;
  margin: 24px 0 13px 0;
}

.services__text {
  font-family: Roboto;
  font-size: 21px;
  font-weight: 400;
  line-height: 30.01px;
  color: rgba(110, 113, 145, 1);
  max-width: 312px;
  margin: 0 auto;
  text-align: center;
}

.services__row {
  display: grid;
  grid-template-columns: repeat(3, 388px);
  align-items: center;
  justify-content: space-between;
}

.services__card {
  max-width: 388px;
  border: 1px solid rgba(239, 240, 246, 1);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 83px 0 20px 0;
}

.services {
  margin-bottom: 147px;
}
